html {
    /* font sizes */
    --size-12: 0.75rem;
    --size-13: 0.813rem;
    --size-14: 0.875rem;

    /* border-radius */
    --br-sm: 8px;

    /* grey colors */
    --grey-50: #656266;
    --grey-100: #616161;
    --grey-200: #322F33;
    --grey-300: #1C181D;
    --grey-g2: #303030;

    /* font colors */
    --font-light: #E3E3E3;
    --font-mid: #616161;
    --font-dark: #303030;

    /* strokes */
    --stroke-50: #EBEBEB;
    --stroke-100: #000000/7%;
    --stroke-200: #FFFFFF/20%;

    /* states */
    --hover: #F7F7F7;
    --pressed: #F0F0F0;
    --focused: #005BD3;

    /* plain */
    --white: #FFFFFF;
    --background: #F1F1F1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

/* button:focus, a:focus {
    outline: 2px solid #005BD3;
    outline-offset: 1px;
}
a {
    border-radius: 12px;
} */

body {
    min-width: 320px;
    background-color: var(--background);
}

.top-bar {
    background-color: #1A1A1A;
    padding: 1rem clamp(0.5rem, 2dvw, 1rem);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* SEARCH BAR */
.search-bar-label {
    position: relative;
    background-color: var(--grey-g2);
    padding: 0.4rem;
    display: flex;
    align-items: center;
    border-color: var(--grey-100);
    border-radius: var(--br-sm);
    margin-left: auto;
    outline: 1px solid var(--grey-100);
    &:hover:not(:focus-within) {
        outline: 1px solid #E1E1E1;
    }
}

.search-bar-focus {
    outline: 2px solid var(--white);
}

input[type="search"] {
    border: none;
    padding: 0.1rem;
    background-color: var(--grey-g2);
    color: #FFF;
    margin-left: 0.3rem;
    width: 100%;
    outline: none;

    &::placeholder {
        font-size: var(--size-13);
        font-weight: 500;
        margin-left: auto;
    }
}

/* NOTIFICATION PANEL AND MENU */
.notification-panel, menu {
    position: absolute;
    top: 70px;
    right: 20px;
    z-index: 1;
    background-color: var(--white);
    border-radius: 14px;
    border: 1px solid var(--stroke-s-50, #DBDBDB);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    transition: ease 0.1s;
}

/* NOTIFICATION PANEL */
.notification-panel {
    color: var(--font-dark);
    font-size: 0.875rem;
    font-weight: 600;
    width: minmax(300px, 23.938rem);
    padding: 1rem;
}
.notification-panel__control {
    background-color: inherit;
    border-radius: var(--br-sm);
    width: 32px;
    height: 32px;
    border: none;
    margin-left: auto;
    margin-right: 1%;
    transition: ease 0.4s;
}
.notification-panel__control--active {
    background-color: #656266;
}
.notification-panel__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notification-panel__header-icons {
    display: flex;
    gap: 1rem;
}
.notification-panel__alert-area {
    background-color: var(--background);
    font-size: 0.8125rem;
    font-weight: 600;
    margin-top: 1rem;
    padding: 1rem;
}

/* MENU */
menu {
    width: clamp(250px, 20dvw, 450px);
    border-radius: 14px;
    list-style-type: none;
    padding-block: 0.375rem;
    & ul {
        padding: 0rem 0.375rem;
        margin: 0.2rem 0;
        list-style: none;
    }
    & li {
        font-size: 0.8125rem;
        padding: 0.375rem;
        border-radius: var(--br-sm);
        cursor: pointer;
        & button {
            display: flex;
            align-items: center;
            border: none;
            background-color: transparent;
            cursor: pointer;
            width: 100%;
        }
        &:hover {
            background-color: var(--background);
        }
    }
    & .menu__divider {
        height: 0.75px;
        background: #E1E1E1;
    }
    & .menu__badge {
        background-color: var(--background);
        padding: 0.25rem 0.75rem 0.25rem 0.5rem;
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        border-radius: var(--br-sm);
    }
    & .menu__badge-name {
        color: var(--font-dark);
        font-size: 13px;
        font-weight: 600;
    }
    
    & .menu__badge-icon {
        margin-left: auto;
    }
    
    & .menu__first-list {
        & li:first-child {
            cursor: default;
            margin-bottom: 0.1rem;
        }
    }
    & .menu__third-list {
        & li:first-child {
            display: flex;
            flex-direction: column;
            align-items: start;
            background-color: var(--white);
            cursor: default;
        }
        & .menu__third-list-name {
            color: var(--font-dark);
            font-size: var(--size-13);
            font-weight: 500;
        }
        & .menu__third-list-email {
            color: var(--font-mid);
            font-size: var(--size-12);
            font-weight: 400;
        }
    }
}
.menu--closed {
    transform: scaleY(0);
    visibility: hidden;
}

/* PROFILE MENU */
.profile-menu-control {
    background-color: var(--grey-g2);
    color: #FFF;
    font-size: var(--size-12);
    display: flex;
    align-items: center;
    border-radius: var(--br-sm);
    border: none;
    cursor: pointer;
    transition: ease 0.4s;
}
.profile-menu-control--active {
    background-color: #656266;
}

.profile-menu-control--name {
    padding: 0.5rem 0.8rem;
}

.profile-menu-control-avatar, .menu__badge-avatar {
    background-color: #36FBA1;
    color: #00000066;
    padding: 0.4rem;
    border-radius: 6px;
    font-weight: 500;
}

/* SELECT PLAN BANNER */
.plan-banner {
    background-color: #1A1A1A;
    color: var(--font-light);
    font-size: var(--size-13);
    margin-top: 1.5rem;
    padding: clamp(0.8rem, 1dvw, 1rem) clamp(0.5rem, 1dvw, 1rem);
    /* padding: 0.75rem 0.5rem 0.75rem 1rem; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    position: relative;
    transition: ease 0.2s;

    .plan-banner__description {
        grid-column: 1 / 5;
        font-size: 13px;
        font-weight: 500;
    }
    & .plan-banner__select-button {
        background-color: var(--white);
        color: #323232;
        font-size: var(--size-14);
        /* padding: clamp(0.175rem, 1dvh, 0.5rem) clamp(0.65rem, 1dvw, 1rem); */
        padding: 0.375rem 0.75rem;
        border-radius: 6px;
        margin-top: 1rem;
        grid-row: 2 / 3;
        grid-column: span 2;
        font-weight: 600;
        border: none;
        & a {
            text-decoration: none;
        }
    }
    & .plan-banner__close-button {
        grid-column: 5 / 6;
        grid-row: 1 / 2;
        margin: auto;
        cursor: pointer;
        position: absolute;
        inset: 0;
        background-color: transparent;
        border: none;
    }
}
.plan-banner--closed {
    transform: scale(0);
    visibility: hidden;
}


.setup-guide {
    background-color: var(--white);
    padding: clamp(1rem, 1.5dvw, 2rem) clamp(0.5rem, 1dvw, 1rem);
    max-width: 100dvw;
    margin: 0 auto;
    margin-block: 1.5rem;
    transition: ease 0.2s;
}

.setup-guide--closed {
    transition: ease 0.2s;
    transform: translateY(-10px);
    opacity: 0;
    height: 0;
}

.setup-guide__control {
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: ease 0.3s;
}
.setup-guide__control--closed {
    transition: ease 0.3s;
    transform: rotateZ(180deg);
}

.setup-guide__header {
    display: flex;
    justify-content: space-between;
    color: var(--font-dark);
    margin-bottom: 1rem;
}

.setup-guide__header--title {
    font-size: var(--size-14);
    font-weight: 600;
    margin-bottom: 0.4rem;
}

.setup-guide__header--description {
    font-size: var(--size-13);
    font-weight: 400;
}

.setup-progress {
    display: flex;
    align-items: center;
    /* margin-block: 1rem; */
    transition: ease 0.5s;
}

.setup-progress__label {
    font-size: var(--size-12);
    font-weight: 400;
    color: var(--font-dark);
    margin-right: 0.5rem;
}

.setup-progress__bar {
    background-color: #dbdbdb;
    width: 100px;
    height: 4px;
    border-radius: 8px;
    position: relative;
}

.setup-progress__bar--inner-bar {
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 0;
    border-radius: var(--br-sm);
    background-color: #1c181d;
    transition: ease 0.5s;
}

/* .setup-step__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.setup-steps {
}

.setup-step {
    background-color: #F3F3F3;
    border-radius: 10px;
    padding: 0.5rem 0.5rem 0;
    position: relative;
    display: flex;
    align-items: start;
    margin-top: 0.5rem;
    /* height: 0;
    display: none; */
    /* transition: ease 0.3s; */
}

.setup-guide img {
    margin-left: auto;
}

.setup-step label {
    position: relative;
    width: 100%;
    max-width: 24px;
    height: 24px;
    cursor: pointer;
    flex-grow: 1;
}

.setup-step__checkbox {
    margin-right: 2rem;
}

.setup-step__title {
    color: var(--font-dark);
    font-size: var(--size-13);
    font-weight: 600;
    margin-top: 0.25rem;
    cursor: pointer;
}

.setup-step__description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1rem;
}

.setup-step.setup-step--closed {
    background-color: var(--white);
}

.setup-step--closed .setup-step__description-container {
    row-gap: 0;
}

.setup-step--closed .setup-step__description {
    display: none;
}

.setup-step--closed button:not(.checkbox-button) {
    display: none;
}

.setup-step--closed .setup-step__image {
    display: none;
}

.setup-step__description {
    color: var(--font-mid);
    font-size: var(--size-13);
    font-weight: 500;
    /* margin-block: 0.75rem; */
}

.setup-step__description a {
    color: var(--focused);
    font-size: var(--size-14);
    text-decoration: none;
}

.setup-step__button {
    color: #F6F3F6;
    font-size: var(--size-12);
    font-weight: 500;
    background-color: #404040;
    border-radius: 6px;
    padding: 0.375rem 0.75rem;
    width: max-content;
}

.setup-step__button2 {
    border: none;
    font-size: var(--size-12);
    font-weight: 600;
}

/* .setup-step label:focus {
    outline: none;
    border: none;
} */

input[type="checkbox"] {
    display: block;
    position: fixed;
    right: -10000000000vw;
}

/* CHECKBOX BUTTON */
.checkbox-button {
    background-color: transparent;
    border: none;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: ease 0.2s;

    &:focus .not-completed-icon circle, &:hover .not-completed-icon circle {
        stroke-dasharray: 0 0;
    }

    .loading-spinner-icon {
        animation: spin 1s linear none infinite;
        animation-duration: 0.3s;
        animation-name: spin;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .completed-icon {
        animation: zoom-in-spin 0.3s linear;
    }
}
.hidden {
    display: none;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes zoom-in-spin {
    from {
        transform: rotate(270deg);
        opacity: 0;
    }
    to {
        transform: rotate(360deg);
        opacity: 1;
    }
}


/* BREAKPOINTS */
@media screen and (min-width: 721px) {
    .mobile {
        display: none;
    }

    .notification-panel__control {
        background-color: var(--grey-g2);
        width: 32px;
        height: 32px;
        border: none;
        cursor: pointer;
    }
    .notification-panel__control--active {
        background-color: #656266;
    }

    .search-bar-label {
        width: clamp(5rem, 40dvw, 100rem);
    }

    .plan-banner {
        display: flex;
        align-items: center;
        max-width: 60dvw;
        margin: 2rem auto 1rem;
        border-radius: var(--br-sm);
        padding: 0.75rem 0.5rem 0.75rem 1rem;
        .plan-banner__select-button {
            margin-left: auto;
            margin-right: 1rem;
            margin-top: 0;
        }
        & .plan-banner__close-button {
            position: static;
            margin: 0;
        }
    }

    .setup-guide {
        max-width: 60dvw;
        border-radius: var(--size-14);
    }
}

@media screen and (max-width: 720px) {
    .desktop {
        display: none;
    }
    .setup-step__description-container {
        row-gap: 0.75rem;
    }
    .notification-panel {
        inset: 70px 10px auto;
    }
}